{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block styles %}{% endblock %}

{% block content %}

{% endblock %}

{% block scripts %}
<script>
    async function sendMessage() {
        const inputField = document.getElementById('input-field');
        const message = inputField.value.trim();
        
        if (!message) return;
    
        try {
            const response = await fetch('/api/chat', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ content: message })
            });
    
            if (response.ok) {
                const data = await response.json();
                window.location.href = `/chat/${data.chat_id}?message=${encodeURIComponent(message)}`;
            } else {
                console.error('Ошибка сервера:', response.status);
            }
        } catch (error) {
            console.error('Ошибка:', error);
        }
    }
</script>
{% endblock %}



<!--
<div class="image-container">
    <a href="/">
        <img src="{{ url_for('static', path='img/logo.png') }}" alt="Logo">
    </a>
</div>
-->